<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">
      Elija una opción 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" con >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="padding:10px;" > 
    <ion-button  (click)="navigate('buscar')" expand="block" style="font-size: 35px;height: 80px;" color="tertiary">
      <ion-icon name="search-outline" style="margin-right:10px ;" ></ion-icon> Buscar gits
    </ion-button>
    <ion-button (click)="navigate('vergift')" expand="block" style="font-size: 35px;height: 80px;">
      <ion-icon name="eye-outline"  style="margin-right:10px ;"></ion-icon>Ver galeria
    </ion-button>
  </div>
</ion-content>
